@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.AboutUs_body {
    background-color: antiquewhite;
}

.about_main_div{
    font-family: 'Poppins', sans-serif;

}

.section {
    width: 100%;
    min-height:90vh;
    background-color: antiquewhite;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img {
    width: 500px;
    height: 500px;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3 {
    margin-top: 20px;
    /* color: antiquewhite; */
    font-size: 21px;
}

.content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .content .button {
    margin-top: 30px;
}

.content-section .content .button a {
    background-color: antiquewhite;
    padding: 12px 40px;
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
    background-color: #a52a2a;
    color: #fff;
}

.content-section .social {
    margin: 40px 40px;
}

.content-section .social i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover {
    color: green;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section {
        float: none;
        width: 100%;
    }
    .image-section img {
        width: 500px;
        height: 500px;
        display: block;
        margin: auto;
    }
    .content-section .title {
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button {
        text-align: center;
    }
    .content-section .content .button a {
        padding: 9px 30px;
    }
    .content-section .social {
        text-align: center;
    }
}

.container-1 {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 2000px;
    top: 30vh;
    background: antiquewhite;
}


.AboutUs_carousel {
    position: absolute;
    width: 100%;
    height: 100px;
    transform-style: preserve-3d;
    animation: rotate360 20s infinite forwards linear;
}

.AboutUs_carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
    display: flex;
    color: #fff;
}

span {
    margin: auto;
    font-size: 20px;
}

.AboutUs_carousel__face:nth-child(6) {
    background-image: url("/public/AboutUs_Images/subhash3.jpg");
    transform: rotateY( 0deg) translateZ(430px);
}

.AboutUs_carousel__face:nth-child(3) {
    background-image: url("/public/AboutUs_Images/rakesh.jpg");
    transform: rotateY( 60deg) translateZ(430px);
}

.AboutUs_carousel__face:nth-child(4) {
    background-image: url("/public/AboutUs_Images/sharan.jpg");
    transform: rotateY( 120deg) translateZ(430px);
}

.AboutUs_carousel__face:nth-child(5) {
    background-image: url("/public/AboutUs_Images/karthik.jpg");
    transform: rotateY(180deg) translateZ(430px);
}

.AboutUs_carousel__face:nth-child(2) {
    background-image: url("https://images.pexels.com/photos/969679/pexels-photo-969679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(240deg) translateZ(430px);
}

.AboutUs_carousel__face:nth-child(7) {
    background-image: url("/public/AboutUs_Images/jodd.jpg");
    background-position: top;
    background-size: 50%;
    background-repeat: no-repeat;
    transform: rotateY(300deg) translateZ(430px);
}
.AboutUs_carousel__face:nth-child(1) {
    transform: rotateY(300deg) translateZ(430px);
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.names-div{
    position: relative;
}

.names {
    margin: auto;
    position: relative;
    /* left: -250px; */
    top: 600px;
    width: 100vw;
    padding: 100px;
    text-align: center;
    background-color: antiquewhite;
}



