#click {
  display: none;
}
.chatbot_ul{
  font-family: 'Courier New', Courier, monospace;
  color: #ee4e34;
  font-size: large;
}

.chat_label {
  position: absolute;
  right: 30px;
  bottom: 20px;
  height: 55px;
  width: 55px;
  background: -webkit-linear-gradient(left, #45b247, #5afa42);
  text-align: center;
  line-height: 55px;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.chat_label i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.chat_label i.fas {
  opacity: 0;
  pointer-events: none;
}

#click:checked~.chat_label i.fas {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
}

#click:checked~.chat_label i.fab {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
}

.chatbot_wrapper,
.chatbot_wrapper1 {
  position: absolute;
  right: 30px;
  bottom: 0px;
  max-width: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#click:checked~.chatbot_wrapper {
  opacity: 1;
  bottom: 85px;
  pointer-events: auto;
}

#click:before~.wrapper1 {
  opacity: 1;
  bottom: 85px;
  pointer-events: auto;
}

.chatbot_wrapper .head-text {
  line-height: 60px;
  color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  background: -webkit-linear-gradient(left, #45b247, #5afa42);
}

.chatbot_wrapper .chat-box {
  padding: 20px;
  width: 100%;
}

.chat-box .desc-text {
  color: #515365;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}

.chat-box form {
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid lightgrey;
}

.chat-box form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.chat-box form .textarea1 {
  height: 100px;
  width: 100%;
  margin-top: 20px;
}

.chat-box form .field:last-child {
  margin-bottom: 15px;
}

form .field input,
form .field button,
form .textarea textarea {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .field input:focus,
form .textarea textarea:focus {
  border-color: #fc83bb;
}

form .field input::placeholder,
form .textarea textarea::placeholder {
  color: silver;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder {
  color: lightgrey;
}

.chat-box form .textarea {
  height: 70px;
  width: 100%;
}

.chat-box form .textarea textarea {
  height: 100%;
  border-radius: 50px;
  resize: none;
  padding: 15px 20px;
  font-size: 16px;
}

.chat-box form .field button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: -webkit-linear-gradient(left, #45b247, #5afa42);
  transition: all 0.3s ease;
}

.chat-box form .field button:active {
  transform: scale(0.97);
}