@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-----------------------------------------------------------------------------*/

.clear {
    clear: both;
}


/* ============================================================================================*/

.carousel1 {
    /* border: 1px solid black; */
    position: absolute;
    top: 7vh;
    width: 100%;
    height: 600px;
    background: #00d68b;
}

body {
    overflow-x: hidden;
    margin: 0;
    /* background: lightgray; */
    text-align: center;
}

.home_div {
    font-family: 'Red Hat Text', sans-serif;
}

@media (max-width: 991px) {
    .container {
        max-width: 1240px;
        margin: 0 auto;
        z-index: 1;
        position: relative
    }

    .shaped-border {
        height: 70px;
        z-index: 3;
        clip-path: polygon(100% 0, -12% 4%, 100% 100%);
        bottom: -65px;
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        background: #00d68b
    }
}

.shaped-border {
    height: 70px;
    z-index: 3;
    clip-path: polygon(100% 0, -12% 5%, 100% 100%);
    bottom: -65px;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    background: #00d68b
}


/* ----------------------------------------------------------------------------------------------*/

.fullwidth-col-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    top: 600px;
    height: 300px;
}

.fullwidth-col-img *:not(a) {
    color: white
}

.fullwidth-col-img--item {
    padding: 140px 30px 80px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

#image1 {
    background-image: url(/public/HomePage_Images/1.png)
}

#image2 {
    background-image: url(/public/HomePage_Images/2.png)
}

#image3 {
    background-image: url(/public/HomePage_Images/3.png)
}

#image4 {
    background-image: url(/public/HomePage_Images/4.png)
}

.fullwidth-col-img--item h3 {
    font-size: 24px
}

.fullwidth-col-img--item-bg {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1
}

@media(max-width:1199px) {
    .fullwidth-col-img--item {
        padding: 100px 25px 60px
    }

    .fullwidth-col-img--item h3 {
        font-size: 20px
    }

    .fullwidth-col-img--item-desc {
        font-size: 14px
    }
}

@media(max-width:991px) {
    .fullwidth-col-img--item {
        padding: 80px 20px 80px;
        height: 280px
    }

    .fullwidth-col-img {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

@media(max-width:479px) {
    .fullwidth-col-img--item h3 {
        font-size: 16px !important
    }

    .fullwidth-col-img--item-desc {
        font-size: 13px
    }

    .fullwidth-col-img {
        grid-template-columns: 1fr 1fr
    }
}


/* =======================================================================================*/

.carousel1-container {
    position: relative;
    padding: 160px 20px 40px;
    left: -100px;
    top: 50px;
    background-color: #00d68b;
}

.carousel1-container-box {
    max-width: 1240px;
    margin: 0 auto;
    z-index: 1;
    position: relative
}

.carousel1-container-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center
}

.carousel1-container-heading {
    margin-bottom: 40px
}

.carousel1-container-heading h1 {
    display: inline-grid;
    font-size: 40px;
    position: relative;
    left: 70px;
}

.carousel1-container-heading p {
    position: relative;
    left: 70px;
}



.carousel1-container-heading p {
    display: inline-grid;
    font-size: 20px;
}

.carousel1-container-heading h1 ::before {
    height: 10px;
    background: #fff;
    width: 100%;
    color: transparent;
    position: absolute;
    z-index: -1;
    top: 30%;
}

.carousel1-container-heading a.button {
    margin-top: 20px
}

@media(max-width:991px) {
    .rd-internal-banner--content {
        width: 100%
    }

    .carousel1-container {
        position: relative;
        padding-left: 20px;
        padding-right: 20px
    }

    .carousel1-container-heading {
        margin-bottom: 0
    }
}

@media(max-width:767px) {
    .carousel1-container-row {
        grid-template-columns: 1fr
    }

    .carousel1-container-heading h1 {
        top: 25%
    }
}

@media(max-width:320px) {
    .carousel1-container-heading h1 {
        height: 20px
    }
}



.header-images {
    display: flex;
}

.header-images img {
    position: absolute;
    width: 200px;
    height: 200px;
}




@keyframes animation1 {
    from {
        transform: rotate(10deg);
    }

    to {
        right: 30px;
        transform: rotate(-10deg);
    }
}


@keyframes animation2 {
    from {
        /* transform: rotate(-10deg); */
        transform: rotate(10deg) scale(1.05);
    }

    to {
        /* right: 300px; */
        right: 230px;
        /* transform: rotate(10deg); */
        transform: rotate(-10deg) scale(0.85);
    }
}


@keyframes animation3 {
    from {
        transform: rotate(10deg);
    }

    to {
        right: 430px;
        transform: rotate(-10deg);
    }
}

.header-images img:nth-of-type(1) {
    z-index: 2;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    right: 80px;
    top: 250px;
    animation: animation1 4s ease-in-out 0s infinite alternate-reverse;
}



.header-images img:nth-of-type(2) {
    border-radius: 50%;
    right: 280px;
    top: 150px;
    animation: animation2 4s ease-in-out 0s infinite alternate-reverse;
}




.header-images img:nth-of-type(3) {
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    right: 480px;
    top: 50px;
    animation: animation3 4s ease-in-out 0s infinite alternate-reverse;
}


@media (min-width: 767px) and (max-width: 1200px) {
    .header-images img{
        height: 150px;
        width: 150px;
    }
    .header-images img:nth-of-type(1){
        animation: none;
        right: 50px;
    }
    .header-images img:nth-of-type(2){
        animation: none;
        right: 200px;
    }
    .header-images img:nth-of-type(3) {
        animation: none;
        right: 350px;
    }
}


@media (max-width: 767px) {
    .header-images{
        display: flex;
        justify-content: center;
    }
    .header-images img{
        position: absolute;
        height: 100px;
        width: 100px;
    }
    .header-images img:nth-of-type(1){
        top: 500px;
        animation: none;
        right: 50px;
    }
    .header-images img:nth-of-type(2){
        top: 450px;
        animation: none;
        right: 160px;
    }
    .header-images img:nth-of-type(3) {
        top: 400px;
        animation: none;
        right: 270px;
    }
}


/* .header-images img:hover {
    transform: scale(1);
    transform-origin: 5;
    z-index: 3;
    transition: all 0.2s ease-out;
    padding: 10px 10px 10px 10px;
    background: white;
    border: solid 2px black;
    border-radius: 10px;
    cursor: pointer;
} */


/*-----------------------======================================--------*/

.about-wesite {
    position: absolute;
    width: 100%;
    height: 1300px;
    top: 950px;
    padding-top: 50px;
    padding: bottom 50px;
    background-color: #fff;
}

.heading {
    font-size: 26px;
}

.heading h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.row-fluid-wrapper {
    height: 65vh;
    /* padding: 40px 20px 40px 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 1.7;
}

.row-fluid-wrapper h1 {
    font-family: 'Oswald', sans-serif;
}

.row-fluid-wrapper-image-1 {
    position: relative;
    right: -10px;
}

.row-fluid-wrapper-image-1 img {
    height: 350px;
    width: 400px;
}

.row-fluid-wrapper-content-1 {
    position: relative;
    right: 20px;
    width: 600px;
    height: 200px;
    padding: auto;
    text-align: left;
}

.row-fluid-wrapper-image-2 img {
    height: 350px;
    width: 400px;
}

.row-fluid-wrapper-content-2 {
    position: relative;
    right: -10px;
    width: 600px;
    height: 200px;
    padding: auto;
    text-align: left;
}

.row-fluid-wrapper-content-1,
.row-fluid-wrapper-content-2 h1 {
    font-size: 35px;
}

.row-fluid-wrapper-content-1,
.row-fluid-wrapper-content-2 p {
    font-size: 18px;
}

.row-fluid-wrapper-image-2 {
    position: relative;
    right: 100px;
}


/*====================================================*/

.customer-review {
    height: 600px;
    width: 100%;
    position: relative;
    background: white;
    top: 2230px;
    padding: 0px 100px 20px 100px;
}

.quote-background-image {
    background-image: url(/public/HomePage_Images/login.webp) !important;
    background-size: auto !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.quote-max-width>.row-fluid {
    max-width: 750px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.quote {
    height: 500px;
    width: 500px;
    background-image: url(/public/HomePage_Images/quotes1.svg);
    float: right;
    background-size: contain;
    text-align: center;
    padding: 100px 60px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative
}

.quote_content {
    margin-bottom: 1.4rem;
    font-size: 16px;
    padding-top: 40px
}

.quote_footer {
    align-items: center;
    display: flex;
    padding: 10px 20px 0
}

.quote_author-image {
    border-radius: 100px;
    margin-right: 1.05rem
}

.quote_author-content {
    font-size: 16px;
    font-weight: 500
}

@media(max-width:650px) {
    .quote_content {
        font-size: 14px;
        padding-top: 18px
    }

    .quote {
        height: auto;
        width: 100%;
        float: right;
        padding: 80px 20px 40px 20px;
        display: flex;
        align-items: center;
        background: white;
        background-repeat: no-repeat;
        text-align: unset;
        background-size: 115%;
        background-position: -200% -47px;
        background-image: none !important
    }

    blockquote.quote.card:before {
        content: " ";
        display: BLOCK;
        background-image: url(/public/HomePage_Images/quotes1.svg);
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-size: 300px 300px;
        position: absolute;
        top: 0
    }

    blockquote.quote.card:after {
        content: " ";
        display: BLOCK;
        background-image: url(/public/HomePage_Images/quotes1.svg);
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-size: 300px 300px;
        position: absolute;
        bottom: -20px;
        right: 0px;
        transform: rotate(180deg);
        z-index: 0
    }

    .quote_footer {
        z-index: 1;
        position: relative
    }
}


/* =================================================================*/

.contact-us {
    position: relative;
    top: 1450px;
    border: 1px solid white;
    width: 100%;
    height: 150px;
    background: #F3F3F3
}

.contact-us-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    height: 90px;
    display: flex;
    justify-content: center;
}

.us-button button {
    margin: 15px;
    background: #15d798;
    border-radius: 10px;
    box-shadow: 0 1px #444444;
    padding: 23px 45px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 18px/1 "Komika", cursive;
    text-align: center;
    text-shadow: 1px 1px #000000;
    transition: 0.2s;
    cursor: pointer;
}

.us-button a {
    text-decoration: none;
    color: white;
}

.us-button :hover {
    background: #00d68b;
}


/*****************************************************************/



.footer-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    position: relative;
    top: 2085px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 10;
    bottom: -15px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    text-align: left;
    padding-left: 80px
}

#footer-col-online-shop ul li a {
    padding-left: 100px;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 88px;
}

#footer-col-online-shop ul li a:hover {
    padding-left: 108px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


.fa-facebook-f,
.fa-linkedin-in {
    color: #5393fa;
}

.fa-twitter {
    color: rgba(29, 161, 242, 1.00);
}

.fa-instagram {
    color: rgb(189, 63, 84);
}   