@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.Login_body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-image: url("/public/login.avif");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #cccccc; */
    position: relative;
    top: 7vh;
    height: 93vh;
    /* overflow: hidden; */
}

/* <----------------------------------------- form styling --------------------------------------------> */



.Login_center {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: 2vh;
}

.Login_center h1 {
    text-align: Login_center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.Login_center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt-field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 18px;
    border: none;
    background: none;
    outline: none;
}

.txt-field label {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
    transition: 0.5s;
}

.txt-field span::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
}

.txt-field input:focus~label,
.txt-field input:valid~label {
    top: -5px;
    color: #2691d9;
}

.txt-field input:focus~span::before,
.txt-field input:valid~span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass a {
    text-decoration: none;
    color: #a6a6a6;
}

.pass:hover {
    text-decoration: underline;
    color: #2691d9;
}

.pass a:hover {
    color: #2691d9;

}

.btn {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    color: #e9f4fb;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    border-color: #2691d9;
    transition: 0.1s;
    transition-timing-function: linear;
    transform: scale(1.05);
}

.signup_link {
    margin: 30px 0;
    text-align: Login_center;
    font-size: 18px;
    color: #666666;
    font-weight: bolder;
}

.signup_link a {
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}

.error {
    color: #ff0099;
    margin: -15px 2px 15px 2px;
    font-size: 0.8em;
    font-weight: bold;
}