@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 93vh;
}


/*<-------------------------- Total Body except header --------------------------> */

.body {
    position: relative;
    top: 7vh;
    min-height: 93vh;
    padding: 10vh 0 0vh 0;
    background-image: url(/public/inputFormBG1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*<-------------------------- Input/Output form --------------------------> */

.container {
    text-align: center;
    line-height: 8vh;
    width: fit-content;
    margin: auto;
    padding: 4vh 4vw;
    /* border: solid #ffff; */
    border-radius: 10px;
    /* color: #ffff; */
    color: black;
    /* background-color: #868deec2; */
    letter-spacing: 1.1px;
    word-spacing: 1px;
    margin-bottom: 18vh;
    font-size: large;
}

.container h1 {
    color: rgb(99, 99, 99);
    /* color: rgb(221, 99, 0); */
    /* color: rgb(80, 0, 218); */
    font-family: sans-serif;
}

#main_para {
    color: #000;
    /* font-size: large;
  font-weight: bold; */
}



.container input[type="radio"] {
    color: red;
}

.container option {
    /* background-color: #94c538f1; */
    background-color: #83ad33f1;
    color: #ffff;
    font-size: 15px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.container select {
    border: solid 1.5px #a04eff;
    /* border: solid #ffac4e; */
}

.getcrops-btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    /* background-color: rgb(165, 126, 126); */
    background-color: darkblue;
    font-size: 16px;
    color: #ffff;
}

.getcrops-btn:hover {
    /* box-shadow: 0px 8px 10px #e4e4e4a8; */
    transition: 0.3s linear;
    transform: scale(1.1);
}