@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

.checkout_body{
  position: relative;
  top: 7vh;
  background: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  width: 100%;
}
.checkout_container{
  width: 100%;
  transform: scale(0.93);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px)
{
  .checkout_container{
    max-width: 1140px;
  }
}
.d-flex{
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 10px 25px;
}
.checkout_body form{
  flex: 4;
}
.Yorder{
  flex: 2;
}
.checkout_title{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
  background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #f6f6f6;
}
.checkout_body h2{
  margin: 0;
  padding-left: 15px; 
}
.required{
  color: red;
}
.checkout_body label, .checkout_body table{
  display: block;
  margin: 15px;
}
.checkout_body label > .checkout_body span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
.checkout_body input[type="text"],.checkout_body input[type="tel"], .checkout_body input[type="email"],.checkout_body select
{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
.checkout_body select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.Yorder{
  margin-top: 15px;
  height: 600px;
  padding: 20px;
  border: 1px solid #dadada;
}
.checkout_body table{
  margin: 0;
  padding: 0;
}
.checkout_body th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.checkout_bodytd:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
.checkout_body td:nth-child(2){
  text-align: right;
  color: #52ad9c;
}
.checkout_body td{
  border-bottom: 1px solid #dadada;
  padding: 10px;
}

.checkout_body p{
  display: block;
  color: #888;
  margin: 10;
  padding-left: 25px;
}
.Yorder >.checkout_body div{
  padding: 15px 0; 
}

.checkout_button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.checkout_button:hover{
  cursor: pointer;
  background: #428a7d;
}

#Checkout_Order_Table th,#Checkout_Order_Table td{
  border : none;
  width: 100%;
}

#Checkout_Order_Table td{
  border: 1px solid #000;
  width: 45%;
}

#Checkout_Order_Table_Body td:nth-child(2){
  width: 15%;
}

#Subtotal td:nth-child(2){
  border: none;
  color:red;
}