.cropimage{
    width: 400px;
    height: 400px;
    /* padding: 20px 20px 20px 20px; */
    display: inline-block;
    border-radius: 10px;
    border: 2px  solid #fff;
}
.croppagedoc{
    margin-left: 40px;
    display: inline-block;
    padding: 30px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
    border: 1px  solid #000;
    background-color: rgba(144, 238, 144, 0.742);
    
}
.croppageheading{
    /* align-items: center;
    justify-content: center; */
    /* display: inline-block; */
    /* padding: 0 0 20px 230px  ; */
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.croppagetable{
    display: inline-block;
}
.croppagedescription{
    display: inline-block;
    align-items: justify;
    margin: 20px 0 0 0;
}
.croppage{
    display: flex;
    padding: 100px;
}
.croppagedescription h2{ 
    text-align: center;
}
#croppagegradient{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 150%;
    filter: blur(1px);
    }

    table, th,tr, td {
        border: 1px solid;
        border-radius: 5px;
        text-align: center;
      }
      tr:nth-child(odd) {
        background-color: white;
    }
    tr:nth-child(even) {
        background-color: white;
    }