@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
    --green: #27ae60;
    --black: #2c2c54;
}

#prompt {
    background: #e91e63;
    background: red;
    z-index: 2;
    width: max-content;
    position: sticky;
    top: 10vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    padding: 0 15px;
    float: right;
    display: none;
    transition: 1s;
}

.market_body>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

.market_body .search .logo,
.market_body .search .cart_heading {
    font-size: calc(1.8vh + 0.8vw);
}


.search {
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1cfce;
    height: 5.5vh;
}

.search a {
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 22px;
}

#search-bar {
    width: fit-content;
    height: 4vh;
    padding: 8px 5px;
    margin-right: 0.5vw;
}

.search_shop_btn {
    border: none;
    background: none;
}

.fa-search {
    font-size: large;
}

.search_btn {
    background: transparent;
    height: 4vh;
}

.fa-search:hover {
    cursor: pointer;
}

.market_body>*::selection {
    background: var(--green);
    color: #fff;
}


.market_body {
    font-family: "Nunito", sans-serif;
    position: absolute;
    top: 7vh;
}

.home,
.category,
.product {
    padding: 3rem 3%;
}

.shop_btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--green);
    color: #fff;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}

.shop_btn:hover {
    background: var(--black);
}

.addToCart_btn:hover {
    background-color: rgb(255, 0, 89);
}

.heading {
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding: 10vh;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.heading span {
    color: var(--green);
    text-transform: uppercase;
}

.header-1 {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.logo {
    color: var(--black);
    font-weight: bolder;
    font-size: 3rem;
}

.logo i {
    padding-right: 0.5rem;
    color: var(--green);
}

.header-1 .search-box-container {
    display: flex;
    height: 5rem;
}

.header-1 .search-box-container #search-box {
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: #333;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}

.header-1 .search-box-container label {
    height: 100%;
    width: 8rem;
    font-size: 2rem;
    line-height: 5rem;
    color: #fff;
    background: var(--green);
    text-align: center;
    cursor: pointer;
}

.header-1 .search-box-container label:hover {
    background: var(--black);
}

.header-2 {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-2 .navbar a {
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    color: var(--black);
}

.header-2 .navbar a:hover {
    background: var(--green);
    color: #fff;
}

.header-2 .icons a {
    font-size: 2.5rem;
    color: var(--black);
    padding-left: 1rem;
}

.header-2 .icons a:hover {
    color: var(--green);
}

#menu-bar {
    font-size: 3rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--black);
    padding: 0.8rem 1.5rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .image {
    flex: 1 1 40rem;
    padding-top: 5rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    flex: 1 1 40rem;
    margin-left: 40px;
}

.home .content span {
    font-size: 3rem;
    color: #666;
}

.home .content h3 {
    font-size: 5rem;
    color: var(--black);
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.banner-container .banner {
    flex: 1 1 40rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.banner-container .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-container .banner .content {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.banner-container .banner .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.banner-container .banner .content p {
    font-size: 2rem;
    color: #333;
}

.banner-container .banner:hover img {
    transform: scale(1.2) rotate(-5deg);
}

.category .box-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.category .box-container .box {
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    text-align: center;
    padding: 2rem;
    flex: 1 1 25rem;
}

.category .box-container .box img {
    width: 21rem;
    margin: 0.1rem 0;
}

.category .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
}

.category .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding: 0.5rem 0;
}

.category .box-container .box .shop_btn {
    display: block;
}

.product .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.product .box-container .box {
    flex: 1 1 25rem;
    text-align: center;
    padding: 0.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.product .box-container .box img {
    height: 12rem;
}

.product .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: rgba(0, 255, 0, 0.1);
    color: var(--green);
    padding: 0.7rem 1rem;
    font-size: 2rem;
}



.product .box-container .box h3 {
    color: var(--black);
    font-size: 1.7rem;
}

.product .box-container .box .stars i {
    padding: 0.7rem 0.1rem;
    font-size: 1.4rem;
    color: gold;
}

.product .box-container .box .price {
    font-size: 1.6rem;
    color: #333;
    padding: 0.5rem 0;
}

.product .box-container .box .price span {
    font-size: 1.5rem;
    color: #999;
    text-decoration: line-through;
}

.product .box-container .box .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    text-align: center;
}

.product .box-container .box a {
    text-decoration: none;
}

.product .box-container .box .quantity span {
    text-align: center;
    padding: 0 0.7rem;
    font-size: 1.2rem;
}

.product .box-container .box .quantity input {
    text-align: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--black);
    padding: 0.2rem 0.5rem;
    background: rgba(0, 0, 0, 0.05);
}

.product .box-container .box .shop_btn {
    display: block;
    width: 60%;
    text-align: center;
    position: relative;
    left: 20%;
    font-size: 1.3rem;
}

.contact form {
    text-align: center;
    padding: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
    padding: 1rem;
    font-size: 1.7rem;
    background: #f7f7f7;
    text-transform: none;
    margin: 1rem 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    width: 49%;
}

.contact form textarea {
    height: 20rem;
    resize: none;
    width: 100%;
}


.market_footer .box-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    position: relative;
}

.market_footer .box-container .box {
    padding: 1rem 0;
    flex: 1 1 25rem;
    text-align: center;
}

.market_footer .box-container .box .share a {
    padding: 0;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
}

.market_footer .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
}

.market_footer .box-container .box p {
    font-size: 1.3rem;
    color: #666;
    padding: 0.7rem 0;
}

.market_footer .box-container .box .links {
    padding: 1rem 0;
}

.market_footer .box-container .box .links a {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.7rem;
    color: #333;
}

.market_footer .box-container .box .links a:hover {
    text-decoration: underline;
    color: var(--green);
}

.market_footer .credit {
    padding: 2.5rem 1rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
}

.market_footer .credit span {
    color: var(--green);
}


@media (max-width: 991px) {

    .header-1,
    .header-2 {
        padding: 2rem;
    }

    .home,
    .category,
    .product {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-bar {
        display: initial;
    }

    .header-2 .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--black);
        padding: 1rem 2rem;
        display: none;
    }

    .header-2 .navbar.active {
        display: initial;
    }

    .header-2 .navbar a {
        font-size: 2.5rem;
        display: block;
        text-align: center;
        background: #fff;
        padding: 1rem;
        margin: 1.5rem 0;
    }

    .home .content {
        text-align: center;
    }

    .home .content h3 {
        font-size: 4rem;
    }

    .deal {
        background-position: left;
    }

    .deal .content {
        max-width: 100%;
        text-align: center;
    }

    .deal .content .count-down {
        justify-content: center;
    }

    .contact form .inputBox input {
        width: 100%;
    }

    .newsletter h3 {
        font-size: 2.2rem;
    }
}

@media (max-width: 450px) {
    
    .heading {
        font-size: 3rem;
    }

    .header-1 {
        flex-flow: column;
    }

    .header-1 .search-box-container {
        width: 100%;
        margin-top: 2rem;
    }

    .logo {
        font-size: 4rem;
    }

    .deal .content .count-down .box h3 {
        font-size: 4rem;
    }

    .deal .content .count-down .box span {
        font-size: 1.5rem;
    }
}


.content p {
    font-size: 400;
}


.market_footer-container {
    max-width: 1170px;
    margin: auto;
}

.market_row {
    display: flex;
    flex-wrap: wrap;
}

.market_body>ul {
    list-style: none;
}

.market_footer {
    background-color: #24262b;
    padding: 70px 0;
}

.market_footer-col {
    width: 25%;
    padding: 0 15px;
}

.market_footer-col h4 {
    font-size: 18px;
    font-size: calc(1.8vh + 0.4vw);
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.market_footer-col h4::before {
    content: "";
    position: absolute;
    left: 10;
    bottom: -15px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.market_footer-col ul {
    list-style: none;
}

.market_footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.market_footer-col ul li a {
    font-size: calc(1.5vh + 0.5vw);
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    text-align: left;
    padding-left: 3vw;
}


.market_footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 2.8vw;
}


.market_footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.fab {
    font-size: 14px;
}

.market_footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.fa-facebook-f,
.fa-linkedin-in {
    color: #5393fa;
}

.fa-twitter {
    color: rgba(29, 161, 242, 1);
}

.fa-instagram {
    color: rgb(189, 63, 84);
}

.box img {
    height: 150px;
    width: 150px;
}

.addToCart_btn {
    background-color: #27ae60;
    margin-top: 1rem;
    background: var(--green);
    color: #fff;
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    width: 60%;
}

.market_body>input[type="submit"]:hover {
    background-color: #2c2c54;
}